/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    padding-bottom: 10%;
    background: url('static/CROPPED_PSU_BACKGROUND_IMG.jpg') center/cover no-repeat;
    background-size: 100% 100%;
}

.container {
    position: relative;
    max-width: 700px; /* This sets the maximum width of the container */
    width: 100%; /* This allows the container to take up the available width up to the maximum */
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}




.container header {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
}

.container .form {
    margin-top: 30px;
}

.form .input-box {
    width: 100%;
    margin-top: 20px;
}

.input-box label {
    color: #333;
}

.input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .column {
    display: flex;
    column-gap: 15px;
}

.form .Question-box {
    margin-top: 20px;
}

.Question-box h3 {
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.form :where(.Question-option, .Question) {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.form .Question {
    column-gap: 5px;
}

.Question input {
    accent-color: rgb(130, 106, 251);
}

.form :where(.Question input, .Question label) {
    cursor: pointer;
}

.Question label {
    color: black;
}

.form button {
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    transition: background 0.2s ease;
    background-image: linear-gradient(to left, yellow, blue);
}

/* Responsive */
@media screen and (max-width: 500px) {
    .form .column {
        flex-wrap: wrap;
    }

    .form .Question-option {
        row-gap: 15px;
    }
}
